# Core dependencies
pip
setuptools

# Custom packages
asf_search==10.1.0
asf_tools==0.8.3
bmipy==2.0.1
bmi_topography==0.9.0

# Standard packages
pandas
requests
torch
numpy
scikit-learn
python-dotenv
tenacity
geopandas
fiona
owslib
pyproj
scikit-image
joblib
fastapi
uvicorn
pydantic
