on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_run:
    workflows: ["Versioning"]
    types:
      - completed
  workflow_dispatch:
    inputs:
      version:
        description: "Version - in the form of v1.2.3"
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: write-all

name: Create release
jobs:
  get-version:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"
    outputs:
      version: ${{ inputs.version || steps.tag.outputs.tag }}

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: get-version
    env:
      VERSION: ${{needs.get-version.outputs.version}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Verify version or get latest
        if: ${{ needs.get-version.outputs.version != 'v*' }}
        uses: WyriHaximus/github-action-get-previous-tag@v1.4.0
        id: get-latest-tag
        with:
          fallback: "0.0.0"
      - name: Update version
        if: ${{ needs.get-version.outputs.version != 'v*' }}
        run: |
          echo "VERSION=${{ steps.get-latest-tag.outputs.tag }}" >> $GITHUB_ENV
      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: --verbose --latest
        env:
          OUTPUT: CHANGELOG.md
      - name: Create release
        if: ${{ !github.event.act }} # skip during local actions testing
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ env.VERSION }}
          release_name: Release ${{ env.VERSION }}
          body_path: ${{ steps.git-cliff.outputs.changelog }}
          draft: false
          prerelease: false
    outputs:
      tag: ${{ env.VERSION }}

  build-web:
    runs-on: ubuntu-latest
    needs: [get-version, create-release]
    env:
      VERSION: ${{ needs.create-release.outputs.tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v27

      - name: Change Dioxus.toml for web-deployment
        run: |
          sed -i 's/"dist"/"docs"/g' EmberCastAIGUI/Dioxus.toml
          sed -i 's/#base_path/base_path/g' EmberCastAIGUI/Dioxus.toml

      #- name: Set development tag to the release
      #  run: sed -i 's/"DEVELOPMENT VERSION"/"${{ env.VERSION }}"/g' src/lib.rs

      - name: Create WASM with Dioxus CLI
        run: |
          cd EmberCastAIGUI
          nix run  # Runs dx bundle --release
          mv docs/public/* docs
          rm -r docs/public
          mv docs ../docs

      - name: Deploy to GH Pages
        if: ${{ !github.event.act }} # skip during local actions testing
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: web-deployment
          folder: docs
          target-folder: docs
          commit-message: "chore(cd): Deploy to GH Pages for ${{ env.VERSION }}"
